<a href="https://colab.research.google.com/github/Saicharan39/Machine-Learning/blob/main/Basics_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of objects in python:
1.mutable
2.immutable

immutable:-
int ,
float,
boolean,
string,
tuple

Mutable:-
set,
list,
dictonary

In [28]:
#list declared in square brackets,duplicates allowed and multiple datatypes and duplicates are allowed
list=[1,2,3,'sai',2.4,'varun',True]
print(list)

[1, 2, 3, 'sai', 2.4, 'varun', True]

In [8]:
list.append('consistent')

In [9]:
print(list)

[1, 2, 3, 'sai', 2.4, 'varun', True, 'consistent']

In [12]:
print(len(list))

7

In [13]:
del list[0]

In [14]:
print(list)

[2, 3, 'sai', 2.4, 'varun', True]

Tuples:
allows multiple datatypes,
immutable,
() are used,
duplicates are allowed

In [15]:
tuple=(1,2,3,4,5)
print(tuple)

(1, 2, 3, 4, 5)

In [18]:
tuple=(1,2,3,4,5,'sai')
print(tuple)

(1, 2, 3, 4, 5, 'sai')

In [19]:
tuple.append(4)

AttributeError: ignored

In [20]:
del tuple(2)
print(tuple)

SyntaxError: ignored

In [21]:
print(len(tuple))

6

In [27]:
tuple=(1,2,3,2,1,3,'sai')
print(tuple)

(1, 2, 3, 2, 1, 3, 'sai')

sets:
{} are used,
allows multiple datatypes,
duplicates are not allowed,
mutable

In [29]:
set={1,2,'sai','charan',True,3,1}
print(set)

{1, 2, 3, 'sai', 'charan'}

In [30]:
list=[1,2,3,4,'sai']
y=set(list)
print(y)

TypeError: ignored

Dictonary:
Stores key value pair,
no duplicates

In [31]:
dic={'name':'saicharan','age':20,'place':'Hyderabad'}
print(dic)

{'name': 'saicharan', 'age': 20, 'place': 'Hyderabad'}

In [35]:
print(dic['name'])
print(dic['place'])

saicharan
Hyderabad

In [53]:
n = int(input("Enter the number of costs: "))
cost = []

for i in range(n):
    costs = int(input("Enter cost: "))
    cost.append(costs)

for i in range(n):
    print(cost[i])

Enter the number of costs: 5
Enter cost: 1
Enter cost: 2
Enter cost: 3
Enter cost: 4
Enter cost: 5
1
2
3
4
5

11

In [54]:
n=int(input("enter value of n:"))
fact=1
if(n==0):
 print('factorial is 1')
else:
 for i in range(1,n+1):
  fact=fact*i
print('factorial of',n,'is',fact)

enter value of n:5
factorial of 5 is 120

In [57]:
def fact(n):
 facto=1
 if n==0:
  return facto
 else:
  for i in range(1,n+1):
   facto=facto*i
  return facto

n=int(input())
print(fact(n))

5
120